@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    font-family: 'Playfair Display', serif;
}

.navbar{
    list-style: none;
    text-decoration: underline;
}

.flex{
    display: flex;
    justify-content: space-between;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: underline;
}
.li2{
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.flex{
    display: flex;
}

.d{
    text-decoration: underline;
    cursor: pointer;
}

.bg-dark{
    padding: 40px;
}

.card-body{
    border: 1px solid rgb(221, 221, 221);
    width: 40%;
    box-shadow:3px 3px 3px 3px rgb(230, 228, 228) ;
}

.c{
    display: flex;
}

.g{
    display: flex;
}

.f{
    background-color: rgb(218, 214, 214);
    width: 500px;
    height: 30vh;
    padding: 10px;
    margin: 10px 10px;
}

.b{
    width: 30%;
}
.b p{
    margin: 0%;
}

.pr{
    padding-right:30% ;
}

.div{
    padding-right: 30%;
}

.btn{
    width: 100px;
}